<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        Geolocation of <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{[content.country, content.countryCode, content.city, content.zip, content.isp, content.org].join(' / ')}}
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
